/* Rooting */
*, h1, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: auto;
  overflow-x: hidden;
}

/* Header Styles */
header {
  background-color: #999;
  font-size: 1.3em;
  box-shadow: 0 0 20px #333;
}
header .icon {
  display: none;
}
header nav {
  display: none;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
header nav ul li {
  text-align: center;
  box-shadow: 0 0 3px #666;
}
header nav ul li a {
  width: 100vw;
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  white-space: nowrap;
  text-shadow: 0 0 1px #444;
}
header nav ul li .item-selected {
  border-bottom: #444 solid 2px;
  background-color: #888;
  user-select: none;
}
header h1 {
  display: inline;
}

.title {
  text-align: center;
  padding: 10px 0;
  background-color: #bbb;
  border: 1px solid #444;
}

/* Footer Styles */
footer {
  background: linear-gradient(#aaa, #444);
  padding: 15px 20px;
  box-shadow: 0 0 20px #333;
}
footer h2 {
  text-align: center;
  font-size: 1em;
}

/* Portrait */
.portrait {
  width: 50vw;
  border-radius: 50%;
  box-shadow: 0 0 20px #333;
  user-select: none;
}

/* Home Styles */
.home-main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 35px 0;
}
.home-main .presentation {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-main .presentation h1 {
  font-size: 2em;
}
.home-main .presentation .subtitle {
  margin-bottom: 0.4em;
  font-size: 1.2em;
}
.home-main .presentation .description {
  width: 80vw;
}
.home-main .portrait {
  margin-top: 20px;
}

/* Projects Styles */
.main-projects {
  display: grid;
  justify-items: center;
  gap: 2em;
  padding: 40px 0;
}
.main-projects .project {
  width: 80vw;
  height: auto;
  text-align: center;
  text-wrap: pretty;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  box-shadow: 0 0 10px #444;
  border-radius: 20px;
  overflow: hidden;
}
.main-projects .project .project-img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  border-bottom: #000 1px solid;
}
.main-projects .project .project-description {
  line-height: 1.2;
  margin: 7px 10px 10px 10px;
}

/* About me Styles */
.aboutme-main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0 2em 0;
}
.aboutme-main .aboutme-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}
.aboutme-main .aboutme-section .portrait {
  margin-bottom: 20px;
}
.aboutme-main .aboutme-section .aboutme-presentation {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.aboutme-main .aboutme-section .aboutme-presentation .aboutme-description {
  width: 80vw;
  text-wrap: pretty;
}
.aboutme-main h2 {
  width: 100%;
  box-shadow: 0 0 20px #333;
}
.aboutme-main .abilities-section {
  padding-top: 2em;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5em;
}
.aboutme-main .abilities-section .ability {
  width: 35%;
  aspect-ratio: 1;
  box-shadow: 0 0 15px #444;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transition-property: scale, box-shadow;
  transition-duration: 0.2s;
  background-color: #ddd;
}
.aboutme-main .abilities-section .ability .logo {
  height: 90%;
  user-select: none;
}
.aboutme-main .abilities-section .ability .html-css {
  height: 80%;
  margin-top: 17px;
}
.aboutme-main .abilities-section .ability .github {
  margin-bottom: 2px;
}
.aboutme-main .abilities-section .ability:hover {
  scale: 1.1;
  box-shadow: 0 0 25px #222;
  transition-duration: 0.4s;
}

/* Experiences Styles */
.main-experience {
  padding: 30px 5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.main-experience .temporal-line {
  height: 110vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.main-experience .temporal-line .superior {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  white-space: pretty;
}
.main-experience .temporal-line .superior .experience {
  text-align: center;
  text-wrap: pretty;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}
.main-experience .temporal-line .superior .experience .vertical {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main-experience .temporal-line .superior .experience p {
  width: 40vw;
  font-size: 0.9em;
}
.main-experience .temporal-line .superior .experience .experience-superior-name {
  font-size: 1.2em;
  font-weight: bold;
}
.main-experience .temporal-line .superior .experience .line-exp {
  height: 5px;
  width: 30px;
  background-color: #000;
}
.main-experience .temporal-line .superior .tres {
  margin-bottom: 20vh;
}
.main-experience .temporal-line .inferior {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  white-space: pretty;
}
.main-experience .temporal-line .inferior .experience {
  text-align: center;
  text-wrap: pretty;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse;
}
.main-experience .temporal-line .inferior .experience .vertical {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main-experience .temporal-line .inferior .experience .vertical p {
  width: 40vw;
  font-size: 0.9em;
}
.main-experience .temporal-line .inferior .experience .vertical .experience-inferior-name {
  font-size: 1.2em;
  font-weight: bold;
}
.main-experience .temporal-line .inferior .experience .line-exp {
  height: 5px;
  width: 30px;
  background-color: #000;
}
.main-experience .temporal-line .inferior .dos {
  margin-top: 25vh;
}
.main-experience .temporal-line .line {
  height: 100%;
  width: 5px;
  background-color: #000;
}

.punta-flecha {
  display: none;
}

/* Contact Me Styles */
body {
  height: 100dvh;
}
body .contact-me-main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
body .contact-me-main .title {
  width: 70vw;
  border-radius: 10px;
  box-shadow: 0 0 20px #333;
}
body .contact-me-main .contact-form {
  width: 80vw;
  text-align: center;
  padding: 10px;
  margin: 0;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #999;
  box-shadow: 0 0 20px #333;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
body .contact-me-main .contact-form ::placeholder {
  color: #777;
}
body .contact-me-main .contact-form .form-inputs .form-inputs-text {
  padding: 0 10px;
}
body .contact-me-main .contact-form .form-textarea {
  width: 100%;
}
body .contact-me-main .contact-form .form-textarea textarea {
  line-height: normal;
  resize: none;
}

/* MQ Tablets */
@media screen and (min-width: 600px) {
  main {
    height: auto;
  }
  /* Header */
  header {
    font-size: 1.5em;
  }
  header a .icon {
    display: block;
    margin: 5px auto;
  }
  header .navbar {
    display: none;
  }
  header nav {
    display: block;
  }
  header nav ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding: 3px 0;
  }
  header nav ul li {
    box-shadow: 0 0 0 #000;
  }
  header nav ul li a {
    width: 140px;
    border-radius: 15px;
  }
  header nav ul .item-selected {
    border-radius: 15px;
  }
  /* Footer */
  footer {
    padding: 15px 0 20px;
  }
  /* Home */
  .home-main {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
  }
  .home-main .presentation {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    align-items: start;
    text-align: start;
  }
  .home-main .presentation .description {
    width: 40vw;
  }
  .home-main .portrait {
    width: 40vw;
  }
  /* Projects */
  .main-projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-projects .project {
    width: 40vw;
    box-shadow: 0 0 20px #444;
  }
  .main-projects :last-child {
    grid-column: span 2;
  }
  /* About me */
  .aboutme-main .aboutme-section .portrait {
    width: 40vw;
  }
  .aboutme-main .abilities-section .ability {
    width: 25%;
  }
  .aboutme-main .abilities-section .github {
    margin-bottom: 7px;
  }
  /* Experiences */
  .main {
    height: 100%;
  }
  .main .main-experience {
    margin-top: 9vh;
  }
  .main .main-experience .temporal-line {
    height: 55vh;
  }
  .main .main-experience .temporal-line .superior {
    align-items: end;
  }
  .main .main-experience .temporal-line .superior .uno {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  .main .main-experience .temporal-line .superior .tres {
    margin-bottom: 14vh;
  }
  .main .main-experience .temporal-line .inferior {
    align-items: start;
  }
  .main .main-experience .temporal-line .inferior .dos {
    margin-top: 15vh;
  }
  .main .main-experience .temporal-line .inferior .cuatro {
    margin-bottom: 3vh;
  }
  /* Contact Me */
  body .contact-me-main .contact-form {
    padding: 15px 0;
  }
  body .contact-me-main .contact-form .form-inputs {
    width: 95%;
  }
  body .contact-me-main .contact-form .form-textarea {
    padding: 0 10px;
    width: 95%;
  }
}
/* MQ Desktop */
/* Header */
@media screen and (min-width: 900px) {
  header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
  }
  header a .icon {
    position: absolute;
    top: 2px;
    left: 10px;
  }
  header nav {
    width: 100vw;
    padding: 3px 0;
  }
  header nav ul {
    padding: 0;
  }
  header nav ul li {
    width: 150px;
  }
  header nav ul li a {
    width: 150px;
    transition-property: scale, background-color;
    transition-duration: 0.3s;
  }
  header nav ul li:hover a {
    scale: 1.1;
    background-color: #777;
  }
  /* Footer */
  footer {
    padding: 15px 0;
  }
  /* Home */
  .home-main {
    min-height: 72vh;
    justify-content: center;
  }
  .home-main .presentation .description {
    width: 400px;
  }
  .home-main .portrait {
    width: 250px;
    margin-left: 20px;
  }
  /* Projects */
  .main-projects {
    height: auto;
  }
  .main-projects .main-projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-projects .main-projects .project {
    width: 35vw;
    box-shadow: 0 0 20px #444;
  }
  .main-projects .main-projects .project .project-img {
    height: 80%;
    border-radius: 20px 20px 0 0;
    border-bottom: #000 1px solid;
  }
  .main-projects .main-projects .project .project-description {
    margin: auto;
    padding: 1em;
  }
  .main-projects .main-projects :last-child {
    grid-column: span 2;
  }
  /* About me */
  .aboutme-main {
    padding: 2em 0;
  }
  .aboutme-main .aboutme-section {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1em 0 3em 0;
  }
  .aboutme-main .aboutme-section .portrait {
    width: 300px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .aboutme-main .aboutme-section .aboutme-presentation {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .aboutme-main .aboutme-section .aboutme-presentation .aboutme-description {
    width: 40vw;
  }
  .aboutme-main .abilities-section {
    padding-top: 2em;
  }
  .aboutme-main .abilities-section .ability {
    width: 10%;
  }
  .aboutme-main .abilities-section .ability .html-css {
    height: 80%;
    margin-top: 15px;
  }
  .aboutme-main .abilities-section .ability .github {
    margin-bottom: 2px;
  }
  /* Experience */
  .main {
    height: auto;
  }
  .main .main-experience {
    margin: 0;
    min-height: 80vh;
    padding: 30px 10vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  .main .main-experience .temporal-line {
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .main .main-experience .temporal-line .superior {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-items: end;
  }
  .main .main-experience .temporal-line .superior .experience {
    flex-flow: column;
  }
  .main .main-experience .temporal-line .superior .experience .vertical p {
    width: 400px;
    font-size: 1em;
  }
  .main .main-experience .temporal-line .superior .experience .vertical .experience-superior-name {
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  .main .main-experience .temporal-line .superior .experience .line-exp {
    height: 30px;
    width: 5px;
  }
  .main .main-experience .temporal-line .superior .uno {
    margin: 0;
  }
  .main .main-experience .temporal-line .superior .uno h2 {
    white-space: pre-wrap;
  }
  .main .main-experience .temporal-line .superior .tres {
    margin: 0;
    margin-right: 15vw;
  }
  .main .main-experience .temporal-line .superior .tres h2 {
    white-space: pre-wrap;
  }
  .main .main-experience .temporal-line .inferior {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-items: start;
  }
  .main .main-experience .temporal-line .inferior .experience {
    flex-flow: column-reverse;
  }
  .main .main-experience .temporal-line .inferior .experience .vertical {
    flex-flow: column-reverse;
  }
  .main .main-experience .temporal-line .inferior .experience .vertical p {
    width: 400px;
    font-size: 1em;
  }
  .main .main-experience .temporal-line .inferior .experience .vertical .experience-inferior-name {
    margin: 0;
    margin-top: 10px;
    font-size: 1.5em;
  }
  .main .main-experience .temporal-line .inferior .experience .line-exp {
    height: 30px;
    width: 5px;
  }
  .main .main-experience .temporal-line .inferior .dos {
    margin: 0;
    margin-left: 15vw;
  }
  .main .main-experience .temporal-line .inferior .dos h2 {
    white-space: pre-wrap;
  }
  .main .main-experience .temporal-line .inferior .cuatro {
    margin: 0;
    margin-left: 10vw;
  }
  .main .main-experience .temporal-line .inferior .cuatro h2 {
    white-space: pre-wrap;
  }
  .main .main-experience .temporal-line .line {
    height: 5px;
    width: 100%;
  }
  .main .punta-flecha {
    display: block;
    height: 40px;
    width: 40px;
    margin-left: -20px;
  }
  /* Contact Me */
  body .contact-me-main {
    padding: 15vh;
  }
  body .contact-me-main .contact-form {
    margin-top: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
