// Root

@import "base/root";

// Header and Footer Styles

@import "pages/components/header";
@import "pages/components/footer";

// Home Styles

@import "pages/home";

// Projects Styles

@import "pages/projects";

// Abilities Styles

@import "pages/abilities";

// Experiencies Styles

@import "pages/experience";

// About me Styles

@import "pages/aboutme";

// MediaQueries Tablet 

@import "pages/mq-tablets";

// MediaQueries Desktop

@import "pages/mq-desktop";

// Base

body {
    background-color: #ccc;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}