/* MQ Tablets */

@media screen and (min-width: 600px) {
    body {
        min-height: 100vh;
    }

/* Header */

    header {
        .icon {
            display: block;
            margin: 5px auto;
        }
        font-size: 1.5em;
        .navbar {
            display: none;
        }
        nav {
            display: block;
            ul {
                @include row;
                justify-content: space-evenly;
                padding: 3px 0;
                li {
                    box-shadow: 0 0 0 #000;
                    a {
                        width: 140px;
                        border-radius: 15px;
                    }
                }
                .item-selected {
                    border-radius: 15px;
                }
            }
        }
    }

/* Footer */

    footer {
        padding: 15px 0 20px;
    }

/* Home */

    .home-main {
        @include row;
        justify-content: space-evenly;
        .presentation {
            @include column;
            align-items: start;
            text-align: start;
            .description {
                width: 40vw;
            }
        }
        .portrait {
            width: 40vw;
        }
    }

/* Projects */

    .main-projects {
        grid-template-columns: repeat(2,1fr);
        .project {
            width: 40vw;
            box-shadow: 0 0 20px #444;
        }
    :last-child {
            grid-column: span 2;
        }
    }

/* About me */

    .aboutme-main {
        height: auto;
        .portrait {
        width: 40vw;
        }
        .main-abilities {
            .ability {
                width: 25%;
            }
            .github {
                margin-bottom: 7px;
            }
        }
    }

/* Experiences */

    main {
        height: 100%;
        .main-experience {
            margin-top: 5vh;
            .temporal-line {
                height: 55vh;
                .superior {
                    align-items: end;
                    .uno {
                        margin-top: 5vh;
                        margin-bottom: 10vh;
                    }
                    .tres {
                        margin-bottom: 14vh;
                    }
                }
                .inferior{
                    align-items: start;
                    .dos {
                        margin-top: 15vh;
                    }
                    .cuatro {
                        margin-bottom: 3vh;
                    }
                }
                }
            }
        }

/* Contact Me */

    body {
        .contact-me-main {
            .contact-form {
                padding: 15px 0;
                .form-inputs {
                    width: 95%;
                }
                .form-textarea {
                    padding: 0 10px;
                    width: 95%;
                }
            }
        }
    }

}

