
@import "../abstracts/mixin";

/* MQ Desktop */

/* Header */

@media screen and (min-width: 900px) {  
    header {
        @include row;
        height: 8vh;
        font-size: 1.5em;
        nav {
            width: 100vw;
            ul {
                padding: 0;
                li {
                    width: 150px;
                    a {
                        width: 150px;
                        transition-property: scale,background-color;
                        transition-duration: .3s;
                    }
                }
                li:hover {
                    a {
                    scale: 1.1;
                    background-color: #777;
                    }
                }
            }
        }
    }


/* Footer */

    footer {
        padding: 10px 0 20px 0;
        h2 {
            height: 9vh;
        }
        .contact-form {
            max-width: 55vw;
            padding: 10px 0;
        }
    }

/* Home */

    .home-main {
        min-height: 72vh;
        justify-content: center;
        .presentation {
            .description {
                width: 400px;
            }
        }
        .portrait {
            width: 250px;
            margin-left: 20px;
        }
    }

/* Projects */

    .main-projects {
        grid-template-columns: repeat(2,1fr);
        .project {
            width: 35vw;
            box-shadow: 0 0 20px #444;
            .project-img {
                height: 80%;
                border-radius: 20px 20px 0 0;
                border-bottom: #000 1px solid;
            }
            .project-description {
                margin: auto;
                padding: 1em;
            }
        }
    :last-child {
            grid-column: span 2;
        }
    }

/* Abilities */

    .main-abilities {
        grid-template-columns: repeat(4,1fr);
        padding: 40px 0;
        .ability {
            width: 20%;
            margin: 0 25px;
            .html-css {
                height: 80%;
                margin-top: 35px;
            }
            .github {
                margin-bottom: 2px;
            }
        }
    }

/* About me */

    .aboutme-main {
        @include row;
        min-height: 80vh;
        margin: 0;
        .portrait {
        width: 300px;
        margin-bottom: 0;
        margin-right: 20px
        }
        .aboutme-presentation {
            @include column;
            text-align: center;
            }
            .aboutme-description {
                width: 40vw;
            }
    }

/* Experience */

    .main-experience {
        min-height: 80vh;
        padding: 30px 10vh;
        @include row;
        .temporal-line {
            height: auto;
            @include column;
            .superior {
                width: 100%;
                @include row;
                justify-content: space-between;
                align-items: end;
                .experience {
                    flex-flow: column;
                    .vertical{
                        p {
                            width: 400px;
                            font-size: 1em;
                        }
                        .experience-superior-name {
                            margin-bottom: 10px;
                            font-size: 1.5em;
                        }
                    }
                    .line-exp {
                        height: 30px;
                        width: 5px;
                    }
                }
            .uno {
                margin: 0;
                h2 {
                    white-space: pre-wrap;
                }
            }
            .tres {
                margin: 0;
                margin-right: 15vw;
                h2 {
                    white-space: pre-wrap;
                }
            }
            }
            .inferior {
                width: 100%;
                @include row;
                justify-content: space-between;
                align-items: start;
                .experience {
                    flex-flow: column-reverse;
                    .vertical{
                        flex-flow: column-reverse;
                        p {
                            width: 400px;
                            font-size: 1em;
                        }
                        .experience-inferior-name {
                            margin: 0;
                            margin-top: 10px;
                            font-size: 1.5em;
                        }
                    }
                    .line-exp {
                        height: 30px;
                        width: 5px;
                    }
                }
                .dos {
                    margin: 0;
                    margin-left: 15vw;
                    h2 {
                        white-space: pre-wrap;
                    }
                }
                .cuatro {
                    margin: 0;
                    margin-left: 10vw;
                    h2 {
                        white-space: pre-wrap;
                    }
                }
            }
            .line {
                height: 5px;
                width: 100%;
            }
            }
        }
        .punta-flecha {
            display: block;
            height: 40px;
            width: 40px;
            margin-left: -20px;
        }
}