/* MQ Desktop */

/* Header */

@media screen and (min-width: 900px) {  
    header {
        .icon {
            position: absolute;
            left: 10px
        }
        @include row;
        font-size: 1.5em;
        nav {
            width: 100vw;
            padding: 3px 0;
            ul {
                padding: 0;
                li {
                    width: 150px;
                    a {
                        width: 150px;
                        transition-property: scale,background-color;
                        transition-duration: .3s;
                    }
                }
                li:hover {
                    a {
                    scale: 1.1;
                    background-color: #777;
                    }
                }
            }
        }
    }


/* Footer */

    footer {
        padding: 15px 0;
    }

/* Home */

    .home-main {
        min-height: 72vh;
        justify-content: center;
        .presentation {
            .description {
                width: 400px;
            }
        }
        .portrait {
            width: 250px;
            margin-left: 20px;
        }
    }

/* Projects */

    main {
        height: auto;
        .main-projects {
            grid-template-columns: repeat(2,1fr);
            .project {
                width: 35vw;
                box-shadow: 0 0 20px #444;
                .project-img {
                    height: 80%;
                    border-radius: 20px 20px 0 0;
                    border-bottom: #000 1px solid;
                }
                .project-description {
                    margin: auto;
                    padding: 1em;
                }
            }
        :last-child {
                grid-column: span 2;
            }
        }
    }

/* About me */

    .aboutme-main {
        @include row;
        flex-wrap: wrap;
        padding-top: 2em;
        margin: 0;
        .portrait {
        width: 300px;
        margin-bottom: 0;
        margin-right: 20px
        }
        .aboutme-presentation {
            @include column;
            text-align: center;
            }
            .aboutme-description {
                width: 40vw;
            }
        .main-abilities {
            padding: 40px 0;
            .ability {
                width: 10%;
                .html-css {
                    height: 80%;
                    margin-top: 15px;
                }
                .github {
                    margin-bottom: 2px;
                }
            }
        }        
    }

/* Experience */

    main {
    .main-experience {
        margin: 0;
        min-height: 80vh;
        padding: 30px 10vh;
        @include row;
        .temporal-line {
            height: auto;
            @include column;
            .superior {
                width: 100%;
                @include row;
                justify-content: space-between;
                align-items: end;
                .experience {
                    flex-flow: column;
                    .vertical{
                        p {
                            width: 400px;
                            font-size: 1em;
                        }
                        .experience-superior-name {
                            margin-bottom: 10px;
                            font-size: 1.5em;
                        }
                    }
                    .line-exp {
                        height: 30px;
                        width: 5px;
                    }
                }
            .uno {
                margin: 0;
                h2 {
                    white-space: pre-wrap;
                }
            }
            .tres {
                margin: 0;
                margin-right: 15vw;
                h2 {
                    white-space: pre-wrap;
                }
            }
            }
            .inferior {
                width: 100%;
                @include row;
                justify-content: space-between;
                align-items: start;
                .experience {
                    flex-flow: column-reverse;
                    .vertical{
                        flex-flow: column-reverse;
                        p {
                            width: 400px;
                            font-size: 1em;
                        }
                        .experience-inferior-name {
                            margin: 0;
                            margin-top: 10px;
                            font-size: 1.5em;
                        }
                    }
                    .line-exp {
                        height: 30px;
                        width: 5px;
                    }
                }
                .dos {
                    margin: 0;
                    margin-left: 15vw;
                    h2 {
                        white-space: pre-wrap;
                    }
                }
                .cuatro {
                    margin: 0;
                    margin-left: 10vw;
                    h2 {
                        white-space: pre-wrap;
                    }
                }
            }
            .line {
                height: 5px;
                width: 100%;
            }
            }
        }
        .punta-flecha {
            display: block;
            height: 40px;
            width: 40px;
            margin-left: -20px;
        }
    }

/* Contact Me */

    body {
        .contact-me-main {
            padding: 15vh;
            .contact-form {
                margin-top: 25px;
            }
        }
    }

}